@import url(//db.onlinewebfonts.com/c/6f8cf49b56f6265eeca4e3f3470f3e59?family=IRANYekanWebFn);

@font-face {
  font-family: "IRANYekanWebFn";
  src: url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.eot");
  src: url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.woff") format("woff"), url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6f8cf49b56f6265eeca4e3f3470f3e59.svg#IRANYekanWebFn Light") format("svg");
}

body {
  margin: 0;
  font-family: "IRANYekanWebFn" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IRANYekanWebFn"
}
